@font-face {
  font-family: "Main";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto.ttf") format("ttf");
}

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

:active, :focus, :visited, :hover {
  outline: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100%;
  font-family: 'Main', sans-serif;
  overflow-x: hidden;
}

a, button, input, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
