@font-face {
  font-family: "Main";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Roboto.woff2") format("woff2"), url("/fonts/Roboto.woff") format("woff"), url("/fonts/Roboto.ttf") format("truetype"),;
}

@mixin relative($property, $minSize, $maxSize, $contain: false, $screen: 1200 ){
  @if $contain {
    #{$property}: #{$maxSize + px};
    @media screen and (max-width: #{$screen + px}){
      #{$property}: calc(#{$minSize + px} + (#{$maxSize - $minSize}) * ((100vw - 320px) / #{$screen - 320}))
    }
  } @else {
    #{$property}: calc(#{$minSize + px} + (#{$maxSize - $minSize}) * ((100vw - 320px) / #{$screen - 320}))
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
